@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 16px) / 3);
  }
}

@media screen and (min-width: 1360px) {
  .item {
    flex-basis: calc((100% - 16px) / 5);
  }
}

.item:nth-child(-n + 3) {
  @apply md:block;
}

@media screen and (max-width: 767px) {
  .galleryItem {
    max-width: 288px;
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .galleryItem {
    flex-basis: calc((100% - 16px * 2) / 3);
  }
}

@media screen and (min-width: 1360px) {
  .galleryItem {
    flex-basis: calc((100% - 16px * 4) / 5);
  }
}
