@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 mt-[72px] bg-bgLight font-nunito leading-normal text-textPrimary md:mt-[80px] xl:mt-[96px];
}

html {
  transition: font-size 250ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.grayscale {
  filter: grayscale(100%);
}

.underline-links a {
  @apply underline;
}

.page-wrap {
  @apply flex flex-col;
  min-height: calc(100vh - 72px);
}

@media screen and (min-width: 768px) {
  .page-wrap {
    min-height: calc(100vh - 80px);
  }
}

@media screen and (min-width: 1360px) {
  .page-wrap {
    min-height: calc(100vh - 96px);
  }
}

.section {
  @apply py-8 md:py-12 xl:py-16;
}

.section-media,
.section-blog,
.section-contacts,
.section-documents {
  @apply pb-16 pt-8 md:pb-24 md:pt-10 xl:pb-32 xl:pt-14;
}

.swiper-wrapper {
  transition-timing-function: linear !important;

  cursor: grab !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.toast-custom {
  z-index: 999999999999 !important;

  top: 100px !important;
}

div[data-expanded='true'] {
  box-shadow: 0px 0px 40px 0px #0000001a;
}

div[data-expanded='true'] p {
  -webkit-line-clamp: unset;
  overflow: visible;
}

div[data-expanded='false'] {
  transition: transform 0.3s ease;
}

div[data-expanded='false'] p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  div[data-expanded='true'] {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 200000000;

    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

@media screen and (min-width: 768px) {
  .team-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100000000;
  }
}

.portable-text p br,
.portable-text br {
  display: none !important;
  height: 0 !important;
}

br {
  display: none !important;
  height: 0 !important;
}
