@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-bgLight font-nunito leading-normal text-textPrimary;
}

html {
  transition: font-size 250ms ease-in-out;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.grayscale {
  filter: grayscale(100%);
}

.underline-links a {
  @apply underline;
}

.section {
  @apply py-8 md:py-12 xl:py-16;
}

.swiper-wrapper {
  transition-timing-function: linear !important;

  cursor: grab !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
